.table {
    width: 1197px;
    height: 660px;
    border-collapse: collapse;
    text-align: center;
    box-sizing: border-box;
    text-transform: uppercase;
    border: 30px solid #3A4965;
    margin: 20px auto;
    font-family: 'Arimo', sans-serif;
}

.table-header:first-child {
    background-color: #FAFAFA
}

.table-header {
    color: #484848;
    font-size: 20px;
    font-weight: bold;
    width: 201px;
    height: 113px;
    vertical-align: middle;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.tr-header {
    border-bottom: 10px solid #3A4965;
}

.table-title {
    margin: 0;
    font-size: 14px;
}

.icon {
    display: block;
    font-size: 24px;
    color: #848484;
    padding-bottom: 10px;
}

.table td:not(.offer) {
    color: #484848;
    width: 157px;
    line-height: 25px;
    border-bottom: 2px solid #CFCFCF;
    font-weight: 500;
}

.top-string {
    display: block;
}

.color-grey {
    background-color: #E3E3E3;
    border-bottom: 10px solid crimson;
}

.color-light-grey {
    background-color: #F2F2F2;
}

.offer {
    font-weight: bold;
    background: #89C331;
    color: #fff;
    width: 218px;
    height: 154px;
}

.ultimate {
    background: #F04A56;
}

.premium {
    background: #20807C;
}

.offer-text {
    margin: 0px 0px 5px 0;
    font-size: 24px;
    text-transform: uppercase;
}

.offer-dollars {
    font-size: 36px;
}

.offer-cent {
    vertical-align: top;
}

.button {
    padding: 15px 35px 5px 35px;
    display: block;
    margin: 0 auto;
    font-weight: bold;
    background: #414141;
    color: #fff;
    border: none;
    text-transform: uppercase;
    border-bottom: 5px solid rgba(0, 0, 0, .3);
    border-radius: 5px;
}

.offer-month {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 15px 5px;
}