.container {
    font-family: 'Open Sans', sans-serif;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #313131;
}

.header-logo {
    display: flex;
    align-items: center;
}

.logo {
    padding: 20px 25px;
}

.logo-text {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
}

.nav-link {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    margin-right: 40px;
    text-decoration: none;
    text-transform: uppercase;
}

.header-search {
    background-color: black;
    padding: 25px 30px;
}

.section-design-content {
    height: 375px;
    background: url("../image/html_css_homework_homework6_img_header-bg.jpeg") center no-repeat fixed;
    background-size: cover;
}

.inner-design-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, .2);
    height: 100%;
}

.section-design-content-title {
    font-size: 27px;
    color: #fff;
}

.btn {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    border: none;
    outline: none;
}

.section-design-content-btn {
    margin-top: 50px;
}

.btn.subscribe {
    padding: 19px 20px;
    background: #89CA62;
    margin-right: 20px;
}

.btn.articles {
    padding: 19px 30px;
    background: #14B9D5;
}

/*******section-posts******************/
.section-posts {
    text-align: center;
    background: #F2F2F2;
    padding: 50px 0 60px;
}

.title {
    font-size: 27px;
    font-weight: 700;
    color: #18B4CF;
    /*margin-bottom: 60px;*/
    text-transform: uppercase;
}

.section-posts-main {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.wrapper-first-column {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.wrapper-first-column .posts-card:first-child {
    margin-bottom: 30px;
}

.wrapper-between-column {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.wrapper-between-column .posts-card:first-child {
    margin-bottom: 30px;
}

.wrapper-last-column {
    display: flex;
    flex-direction: column;
}

.wrapper-last-column .posts-card:first-child {
    margin-bottom: 30px;
}

.posts-card-subtitle {
    padding: 20px 16px 22px 14px;
    background-color: #fff;
    font-size: 18px;
    color: #353A3D;
    font-weight: 700;
}

/**************section-clients*******************/
.section-clients {
    background: url("../image/section-clients.png") center fixed;
    text-align: center;
    /*padding: 200px 0;*/
    display: grid;
    justify-items: center;
    align-items: center;
    height: 598px;
}

.grid-parent-clients {
    width: 65%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 100px;
    justify-items: center;
    align-items: center;
}

.section-clients-title {
    /*display: inline-block;*/
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    grid-column: 1/-1;
}

.section-clients-title::after {
    content: "";
    width: 60px;
    height: 3px;
    background-color: #18B4CF;
    position: absolute;
    right: 202px;
    top: 65px;
}

/**********section-rated*********/
.section-rated {
    text-align: center;
    padding: 50px 0 60px;
}

.grid-parent-rated {
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(auto-fill, minmax(170px, auto));
    justify-items: center;
    align-items: center;
    margin-top: 52px;
}

/**********section-news***********/
.section-news {
    text-align: center;
    display: grid;
    justify-items: center;
}

.grid-parent-news {
    width: 85%;
    margin-top: 51px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 35px;
    grid-row-gap: 42px;
    grid-template-areas: "item1 item1 item1 item2" "item3 item3 item4 item4" "item5 item5 item6 item6" "item7 item8 item8 item8";
}

.grid-child-news:nth-child(1) {
    justify-self: center;
    justify-content: center;
    margin-right: 15px;
    grid-area: item1;
    background: #F9F7F7;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "child-photo grid-child-desc" "child-photo grid-child-text" "child-photo grid-child-text";
}

.child-photo {
    grid-area: child-photo;
}

.grid-child-desc {
    color: #353A3D;
    font-weight: 700;
    font-size: 18px;
    grid-area: grid-child-desc;
    align-self: center;
    padding: 15px 15px;
    background: #F9F7F7;
}

.grid-child-text {
    padding: 0 10px;
    color: #5B6469;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    background: #F9F7F7;
    grid-area: grid-child-text;
}

.grid-child-news:nth-child(8) {
    grid-column: 2/3;
    background: #F9F7F7;
    max-width: 856px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "child-photo grid-child-desc" "child-photo grid-child-text" "child-photo grid-child-text";
}

.grid-child-news:nth-child(2) {
    grid-area: item2;
}

.grid-child-news:nth-child(3) {
    grid-area: item3;
    margin-right: 16px;
    width: 554px;
}

.grid-child-news:nth-child(4) {
    width: 554px;
    grid-area: item4;
}

.grid-child-news:nth-child(5) {
    width: 554px;
    grid-area: item5;
}

.grid-child-news:nth-child(6) {
    width: 554px;
    grid-area: item6;
}

.grid-child-news:nth-child(7) {
    grid-area: item7;
}

.grid-child-news:nth-child(8) {
    grid-area: item8;
}

/***********footer********************/
.footer {
    display: grid;
    margin-top: 70px;
    grid-template-columns: 1fr 1fr;
    background-color: #000;
    padding: 29px 0;
}

.footer-text {
    justify-self: start;
    color: #fff;
    font-size: 13px;
    margin-left: 100px;
}

.footer-logo {
    justify-self: end;
    margin-right: 100px;
}








