body {
    font-family: 'Ubuntu', sans-serif;
}
.section-journey {
    background: url("../image/background.png");
    background-size: cover ;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, .4);
}
.header-logo {
    margin: 24px 0 24px 81px;
    cursor: context-menu;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    transition: color .2s ease-in-out;
}
.header-logo:hover {
    color: #3CB878;
}
.header-nav {
    padding: 24px 71px 0 0;
    color: #fff;
}
.sprite {
    display: inline-block;
    background: url("../image/spritesheet.png") no-repeat;
}
.header-icons {
    display: inline-block;
    padding-right: 56px;
}
.icon-calendar {
    margin-right: 28px;
    width: 19px;
    height: 19px;
    background-position: -5px -35px;
}
.icon-forum {
    margin-right: 28px;
    width: 28px;
    height: 20px;
    background-position: -5px -64px;
}
.icon-journey {
    width: 20px;
    height: 20px;
    background-position: -86px -5px;
}
.icon-calendar:hover {
    width: 19px;
    height: 19px;
    background-position: -34px -35px;
}
.icon-forum:hover {
    width: 28px;
    height: 20px;
    background-position: -43px -64px;
}
.icon-journey:hover {
    width: 20px;
    height: 20px;
    background-position: -81px -35px;
}
.header-nav-text {
    display: inline-block;
}
.header-nav-link {
    text-decoration: none;
    color: #3CB878;
    margin-right: 9px;
}
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 0;
}
.container {
    background-color: #fff;
    width: 444px;
    height: 584px;
    position: relative;
    padding: 29px 60px 32px;
    box-sizing: border-box;
}
.flex-container-top-words {
    display: flex;
    justify-content: space-between;
}
.flex-container-top-words:before {
    content: "";
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: absolute;
    left: 0;
    top: 29px;
}
.container-sign-up {
    font-size: 20px;
    color: #434343;
    line-height: 14px;
}
.container-login {
    color: #3CB878;
}
.facebook {
    padding: 14px 17px 14px 21px;
    margin-top: 19px;
    background: #305DB8;
    position: relative;
    width: 160px;
    height: 48px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    display: inline-block;
    cursor: context-menu;
    text-decoration: none;
}
.facebook-icon {
    width: 10px;
    height: 20px;
    background-position: -66px -5px;
}
.facebook:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 28px;
    background: #0A162F;
    position: absolute;
    top: 10px;
    left: 46px;
    opacity: .1;
}
.facebook-text {
    cursor: context-menu;
    margin-left: 38px;
    /*vertical-align: top;*/
    color: #fff;
}
.google {
    padding: 18px 9px 16px 15px;
    position: relative;
    width: 160px;
    height: 48px;
    display: inline-block;
    box-sizing: border-box;
    cursor: context-menu;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    background: #DF4A32;
}
.google-icon {
    width: 25px;
    height: 16px;
    background-position: -5px -5px;
}
.google:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 28px;
    background: #0A162F;
    position: absolute;
    top: 10px;
    left: 55px;
    opacity: .1;
}
.google-text {
    display: inline-block;
    vertical-align: top;
    margin-left: 37px;
    color: #fff;
}
.or {
    display: block;
    width: 15px;
    margin: 29px auto 14px;
    color: #848484;
}
.input {
    color: #434343;
    box-sizing: border-box;
    padding-left: 18px;
    width: 324px;
    height: 48px;
    margin-bottom: 9px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .1);
}
.input:focus {
    border-radius: 3px;
    margin-bottom: 16px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.checkbox {
    display: none;
}
.label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    vertical-align: middle;
    margin-right: 10px;
}
input[type="checkbox"]:checked + label::before {
    background: url("../image/spritesheet.png") -38px -4px no-repeat;
}
.color-green{
    color: #3CB878;
}
.button{
    display: block;
    background: #3CB878;
    width: 322px;
    height: 46px;
    border: none;
    color: #fff;
    margin-top: 28px;
}