body{
    font-family: 'Roboto',sans-serif;
}
.container{
    width: 1280px;
    margin: 61px auto 0;
}
.logo {
    font-size: 74px;
}
.logo-link{
    color: black;
    text-decoration: none;
}
 .text-blue{
    color: #4bcaff;
}
.nav{
    background: #35444f;
    margin: 63px auto;
    max-width: 1280px;
    text-align: center;
}
.nav-link {
    margin-left: 38px;
    display: inline-block;
  padding: 25px 38px;
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    vertical-align: middle;
}
.nav-link:hover{
    background-color: #222f3a;
    text-align: center;
   padding: 24px 37px;
    border-right: 1px solid white;
    border-left: 1px solid white;
}
.sidebar {
    width: 344px;
    height: 399px;
vertical-align: top;
    border: 1px solid black;
    margin-right: 43px;
    display: inline-block;
    overflow: hidden;
}
.sidebar-link{
    font-size: 26px;
    color: #485863;
    text-decoration: none;
    line-height: 80px;
    vertical-align: middle;
}
.sidebar-list {
    padding-left: 44px;
    list-style-type: none;
    width: 100%;
    height: 80px;
}
.sidebar-list:hover{
    background-color: #dbdbdb;
    padding-left: 64px;
}

.sidebar-list:hover .sidebar-link{
    color: #35444F;
}

.content__img{
    width: 885px;
    height: 529px;
    border: 1px solid black;
    display: inline-block;
}

.content{
    display: inline-block;
}

.content__text{
    width: 885px;
    height: 114px;
    margin-top: 42px;
}
.content__text__bottom{
    width: 885px;
    height: 114px;
}
.footer{
   width: 1280px;
    height: 69px;
    background-color: #b4b7ba;
    margin: 0 auto 30px;
}
.footer-item{
    padding-top: 15px;
    display: inline-block;
    list-style-type: none;
    margin-left: 10px;
    font-size: 20px;
}

.footer-link{
    display: inline-block;
    margin-left: 43px;
    color: #0C1927;
    line-height: 35px;
    text-decoration: none;
}
.footer-link:hover{
    border-bottom: 1px solid #3181A6;
    color: #3181A6;
    line-height: 35px;
}
.footer-nav{
    display: inline-block;
}
.copyright{
    display: inline-block;
    font-size: 20px;
    color: #010101;
    float: right;
    line-height: 69px;
    margin-right: 20px;



}
.img{
    display: inline-block;
    margin: 75px 268px 73px 197px;
    opacity: 1;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms;
}
.img:hover{
    -webkit-transform: scale(1.2,1.2);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1.2,1.2);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms;
}