*{
    margin: 0;
    padding: 0;
}
.nav{
    margin: 32px auto 31px;
    text-align: center;
}
a{
    color: #16a085;
    text-decoration: none;
    margin-left: 58px;
    font-family: 'Montserrat' ;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 3px;
}

img{
    width: 100%;
    height: 790px;
}

h2{
    margin-top: 47px;
    text-align: center;
    color: #313234;
    font-family: 'Montserrat';
    font-weight: bold;
    letter-spacing: 1px;
}

p{
    font-size: 16px;
    font-weight: normal;
    Line-Height: 26px;
    font-family: 'Montserrat';
    color: #313234;
    letter-spacing: 1px;
    margin: 22px 0 23px;
    

}

button{
    border: none;
    background-color: #1b9d81;
    height: 50px;
    width: 150px;
    color: white;
    font-family: 'Montserrat' ;
    letter-spacing: 1px;
    display: block;
    margin: auto;
    border-radius: 5px;



}
footer{
    margin-top: 65px;
    font-size: 16px;
    height: 32px;
    text-align: right;
    font-family: 'Montserrat' ;
    font-weight: bold;
    letter-spacing: 3px;
}
