.wrapper-star-wars {
    height: 100vh;
    background-color: #000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    perspective: 400px;
    display: flex;
    height: 800px;
}

.content {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: gold;
    font-size: 70px;
    font-family: sans-serif;
    text-align: center;
    font-weight: 700;
    animation: ticker 30s infinite;
}

.title {
    margin-top: 50px;
}

@keyframes ticker {
    0% {
        animation-timing-function: linear;
        transform: translateY(600px) rotateX(45deg) scale(1, 1);
    }
    100% {
        animation-timing-function: linear;
        transform: translateY(-400px) rotateX(45deg) scale(.2, .2);
    }
}

.text {
    margin-top: 50px;
}