body {
    font-family: 'Roboto','Open Sans', sans-serif;
}

.section-header {
    height: 596px;
    background: url("../images/bg1.jpg") no-repeat fixed;
    background-size: cover;
    position: relative;
}
.inner-section-header{
    width: 100%;
    height: 100%;
    padding-top: 30px;
background-color: rgba(0,0,0,.7);
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
}

.header:before {
    content: "";
    display: inline-block;
    width: 50%;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    clip-path: polygon(100% 100%, 100% 0, 0 100%);
    background-color: #fff;
}

.header:after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 50px;
    clip-path: polygon(100% 100%, 100% 0, 0 100%);
    background-color: #fff;
    transform: rotateY(180deg);
}

.header-logo {
    font-size: 32px;
    color: #424F57;
    font-weight: 300;
    margin-left: 50px;
    padding: 40px 0 37px;
}

.logo-span {
    font-size: 30px;
    text-transform: uppercase;
    color: #14AFCA;
    font-weight: bold;
}

.title {
    text-align: center;
    display: block;
    font-size: 60px;
    font-weight: 700;
    color: #14AFCA;
    text-transform: uppercase;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    margin-left: 50px;
    font-family: 'Open Sans';
    font-weight: 700;
    color: #424F57;
    margin-right: 30px;
    transition: color .2s ease;
}
.nav-link:first-child{
    margin: 0;
}

.nav-link:hover {
    color: #14AFCA;
    transition: color .2s ease;
}

.section-header-title {
    text-indent: 60px;
    text-align: center;
    margin: 145px auto 0;
    color: #fff;
    width: 1000px;
    font-size: 52px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 5px;
    line-height: 75px;
}
/**********section-what**************/
.section-what {
    width: 996px;
    margin: 130px auto 90px;
}

.subtitle {
    margin: 25px 0;
    font-family: 'Open Sans';
    font-weight: 600;
    display: block;
    text-align: center;
    color: #424F57;
}

.section-what-text {
    display: block;
    text-align: center;
    line-height: 30px;
    color: #424F57;
}
/**************section-companies***************/
.section-companies {
    height: 715px;
    background: url("../images/bg2.jpg") no-repeat 0 -350px fixed;
    background-size: 100%;
}
.companies-content {
    color: #fff;
    height: 715px;
    background-color: rgba(0, 0, 0, .8);
    position: relative;
    padding-top: 135px;
    text-align: center;
}
.subtitle-color-white{
    margin: 25px 0;
    font-family: 'Open Sans';
    font-weight: 600;
    text-align: center;
    color:#fff;
}

.companies-content:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 80px;
    background-color: #fff;
    clip-path: polygon(100% 0, 0 0, 50% 100%);
}
.team {
    width: 1020px;
    margin-top: 48px;
    display: inline-block;
}

.companies-logo {
    margin: 0 0 130px 50px;
    vertical-align: middle;
    display: inline-block;
}

.behance {
    width: 189px;
    height: 34px;
}

.adobe {
    width: 225px;
    height: 99px;
}

.envato {
    width: 217px;
    height: 40px;
}

.deviantart {
    width: 176px;
    height: 89px;
}

.flickr {
    width: 159px;
    height: 48px;
}

.markco-media {
    width: 185px;
    height: 48px;
}

.yahoo {
    width: 200px;
    height: 38px;
}
/************section-meet******************/
.section-meet {
    padding-top: 175px;
}

.wrapper-personal {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.img-personal {
    width: 207px;
    height: 206px;
}

.personal {
    text-align: center;
    width: 309px;
    margin-left: 55px;
}
.personal:first-child{
    margin: 0;
}

.personal-text {
    display: inline-block;
    margin-top: 10px;
    line-height: 28px;
    font-size: 15px;
    color: #424F57;
}

.wrapper-testimonials {
    margin-top: 128px;
    background: url("../images/bg2.jpg") no-repeat 0 -350px fixed;
    height: 715px;
}

.testimonials {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    position: relative;
    padding-top: 180px;
    color: #fff;
    text-align: center;
}

.testimonials-text {
    font-family: 'Open Sans';
    font-style: italic;
    display: inline-block;
    width: 910px;
    color: #D3CCCC;
    line-height: 28px;
    margin-top: 15px;
}

.author {
    display: block;
    text-align: right;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    color: #fff;
    margin: 30px 140px 0 0;
}

.testimonials:after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 80px;
    clip-path: polygon(100% 100%, 100% 0, 0 100%);
    background-color: #fff;
    transform: rotateY(180deg);
}

.testimonials:before {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 80px;
    clip-path: polygon(100% 100%, 100% 0, 0 100%);
    background-color: #fff;
}

.arrow {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 80px;
    background-color: #fff;
    clip-path: polygon(100% 0, 0 0, 50% 100%);
}
/****************section-why********************/
.section-why {
    padding-top: 110px;
}

.offer-text {
    width: 816px;
    font-size: 30px;
    font-weight: bold;
    line-height: 48px;
    color: #424F57;
    text-align: center;
    margin: 0 auto;
    padding: 15px 20px 100px;
}

.copyright {
    width: 400px;
    text-align: center;
    color: #424F57;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 24px;
    margin: 0 auto;
    padding-bottom: 90px;
}
.copyright-mod{
    color: #3D3C3C;
    font-size: 14px;
    font-weight: 600;
}