body{
    font-family: 'Roboto', sans-serif;
}
.milan-holidays{
   background: url("../image/background1.png") no-repeat;
    background-size: cover;
    padding-top: 49px;
}
.container{
    width: 1067px;
    margin: 0 auto;
}
.header{
    width: 1064px;
    height: 61px;
    margin: 0 auto 40px;
}
.header-logo{
    float: left;
    margin-right: 15px;
}
.header-logo{
    width: 46px;
    height: 44px;
    background-image: url("../image/logo3.png");
}

.header-logo-link{
    display: inline-block;
    width: 151px;
    text-decoration: none;
}
.header-logo-link:hover .header-text{
    color: #F26522;
}
.header-logo-link:hover .header-logo{
    background-image: url("../image/logo2.png");
}
.header-text {
    font-size: 29px;
    font-weight: bold;
    color: #fff;
}
.header-smaller-text{
    font-size: 18px;
}
.contacts{
    float: right;
}
.contacts-list{
    margin-bottom: 17px;
}
.contacts-link{
    text-decoration: none;
    color: #fff;
}

.tour{
    display: block;
    text-decoration: none;
    width: 307px;
    float: left;
    margin: 0 73px 65px 0;
}
.tour:nth-child(3){
    margin-right: 0;
}
.tour:nth-child(6){
    margin-right: 0;
}
.tour-image{
    display:inline-block;
    width: 307px;
    height: 200px;
    margin: 2px 0 0 -3px;
    position: relative;
    overflow: hidden;
}
.gradient {
    width: 306px;
    height: 200px;
    display: block;
    background: #fff;
    border: 2px solid #000;
}
.shopping-tour{
     background-image: url("../image/Layer21.png");
}
.sightseeing-tours{
    background-image: url("../image/Layer22.png");
}
.food-tours{
    background-image: url("../image/Layer23.png");
}
.bars-\&-nightlife{
    background-image: url("../image/Layer24.png");
}
.art-\&-architecture{
    background-image: url("../image/Layer25.png");
}
.walking-tours{
    background-image: url("../image/Layer26.png");
}
.price-hover{
    position: absolute;
    bottom: -63px;
    display:block;
    width: 311px;
    height: 63px;
    background: #F26522;
    margin-top: 137px;
    transition: bottom .2s ease-in-out;
}
.tour:hover .price-hover{
    bottom: 0;
}
.tour:hover .tour-description{
    color: #F26522;
    margin-top: 18px;
}
.tour-description{
    width: 307px;
    display:inline-block;
    text-align: center;
    color: white;
    text-decoration: none;
    margin-top: 18px;
}
.from{
    display: block;
    padding: 11px 0 0 21px;
    font-size: 10px;
    line-height: 21px;
    color: #fff;
}
.euro{
    display: inline-block;
    width: 36px;
    font-size: 20px;
    line-height: 21px;
    color: #fff;
    padding-left: 21px;
}
.details {
    float: right;
    font-size: 14px;
    color: #fff;
    padding: 4px 20px 0 0;
}
.details:after{
    content: "";
    display: inline-block;
    width: 7px;
    height: 10px;
    background: url("../image/Vector1.png") no-repeat;
    margin-left: 24px;
}
.footer-text{
    font-size: 12px;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    padding-bottom: 15px;
}