
.table{
    border: 20px solid #3A4965;
    margin: 0 auto;
    width: 1192px;
    height: 736px;
    border-collapse: collapse;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    text-align: center;
}
.table-header{
    background-color: #fafafa;
}
.colspan-tho{
    text-align: right;
    margin-right: 83px;
}
.text-between{
    margin-left: -30px;
    text-align: left;
}
.table tr:nth-child(odd){
    background: #F2F2F2;
}
.table tr:nth-child(even){
    background: #E3E3E3;
}
.price{
    position: relative;
    text-align: right;
    background-color: #fafafa;
}
.dollars{
    position: absolute;
    top: 18px;
    left: 35px;
    display: inline-block;
    font-size: 60px;
    font-weight: bold;
}
.cent{
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 135px;
    font-size: 24px;
    font-weight: bold;
}
.price-text{
    display: inline-block;
    font-size: 18px;
    margin: 18px 35px 0 0;
    text-transform: uppercase;
}
.table-header{
    text-transform: uppercase;
    height: 73px;
    font-size: 24px;
    color: #fff;
}
.first-column{
    border-right: 2px solid rgb(220,220,220);
    width: 313px;
}
.second-column{
    border-right: 1px solid rgb(220,220,220);
}
.third-column{
    border-right: 1px solid rgb(200,200,200);
}
.table-header-text{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}
.table-header:first-child{
    font-size: 30px;
    font-weight: bold;
    color: #000;
}
.table-header:nth-child(3){
    background: #F04A56;
    font-size: 30px;
}
.icon{
    font-size: 24px;
    color: #848484;
    padding-right: 10px;
}
.button{
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    padding: 19px 57px 6px 57px;
    border-radius: 5px;
    border: none;
    transition: .3s;
    border-bottom: 8px solid rgba(0,0,0,.1);
    position: relative;
    overflow: hidden;
}
.button:before{
    content: "";
    display: inline-block;
    width: 10px;
    height: 100%;
    background-color: rgba(255,255,255,.5);
    box-shadow: 3px 3px 5px #fff;
    position: absolute;
    transform: skewX(-45deg) translate(-30px);
    transition: .1s linear;
    z-index: 2;
    top: 0;
    left: 0;
}
.button:hover:before{
    animation: flare 1s;
}
@keyframes flare {
    0% {
        transform: translate(-30px) skewX(-45deg);
    }
    100% {
        transform: translate(250px) skewX(-45deg) ;
    }
}
.button-contact{
    background: #484848;
    padding: 19px 43px 6px 47px;
}
.standard{
    background-color: #89C331;
}
.ultimate{
    background-color: #F04A56;
}
.premium{
    background-color: #20807C;
}
.td-contact{
    background-color: rgb(221,221,221);
}
.td-buy-now{
    background-color: rgb(238,238,238);
}
.td-buy-now:nth-child(3){
    background-color: rgb(244,244,244);
}

